#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1{
  color: black;
}
.links {
  
  padding: 12px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: #09090b;
}
.TextField{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
p{
  color: #09090b;
}